@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap); 

// variables COULEURS
$colorWord1:  #92e4dc;
$colorWord2:  #80cbc4;
$colorWord3:  #54a7a0;
$colorWord4:  #0a837d;
$colorWord5:   #8b8091;
$colorWord6:  #af8097;
$colorWord7:  #d99ab5;

// MIXIN
@mixin arrow($top, $left, $color, $border-size:20px){
    display: inline-block;
    width: 0;
    height: 0;
    border-left: $border-size solid transparent;
    border-right: 0px solid $color;
    border-bottom: $border-size solid $color;
    position: absolute;
    top: $top;
    left: $left;
  }
  @mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left){
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-right-radius: $bottom-right;
    border-bottom-left-radius: $bottom-left;
  }
  @mixin bubble($color, $height:150px, $width:250px){
    height: $height;
    width: $width;
    padding: 20px;
    position: absolute;
    color: white;
    background-color: $color;
    font-family: "Open Sans Condensed";
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  /* The old syntax, deprecated, but still needed, prefixed, for WebKit-based and old browsers */
  background: linear-gradient(left, #e7e7e7, white, #e7e7e7);
  /* The new syntax needed by standard-compliant browsers (Opera 12.1, IE 10, Fx 16 onwards), without prefix */
  background: linear-gradient(to right, #e7e7e7, white, #e7e7e7);
}
.container {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 270px;
  margin: 150px auto;
  position: Relative;
}

.wordRight {
  display: block;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.wordCenter {
    display: block;
    text-align: center;
    font-family: "BenchNine";
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: 0px;
  }
.wordLeft{
    display: block;
    text-align: right;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.word1 {
  font-size: 5.2em;
  color: $colorWord1;
}
.word2 {
  font-size: 6.5em;
  color: $colorWord1;
  padding-bottom: 15px;
}
.word3 {
  font-size: 4.7em;
  color:$colorWord2 ;
}
.word4 {
  font-size: 6.4em;
  color:$colorWord2;
  padding-bottom: 15px;
}
.word5 {
  font-size: 3.8em;
  color: $colorWord3;
  padding-top: 10PX;
}
.word6 {
  font-size: 6em;
  color: $colorWord3;
  padding-bottom: 15px;
}
.word7 {
  font-size: 3.5em;
  color:$colorWord4;
  padding-top: 15px;
  padding-bottom: 20px;
}
.word8{
    font-size:4.8em;
    color:$colorWord5;
}
.word9{
    font-size:7.9em;
    color:$colorWord5;
    padding-bottom: 15px;
}
.word10{
    font-size:3.9em;
    color:$colorWord6;
}
.word11 {
  font-size:4.9em ; 
  color:$colorWord6;
  padding-bottom: 15px;
}

.word12 {
  font-size:7.8em ;
  color:$colorWord7 ;
}
.word13 {
  font-size: 5.2em;
  color:$colorWord7;
}
// BUBBLE

.bubble1 {
  @include bubble($colorWord1, 82px, 82px);
  @include border-radius(0,20px,0,20px);
  top: 0;
  left: -100px;
  padding: 10px;
  font-size: 1.5em;
  line-height: 1;
  span.the-arrow1 {
    @include arrow(70px, 82px, $colorWord1, 12px);
    transform: rotateY(180deg);
  }
}
.bubble2 {
  @include bubble($colorWord1, 150px, 170px);
  @include border-radius(30px , 0 , 30px, 0);
  left: 150%;
  top: -20px;
  span.the-arrow2 {
    @include arrow(130px, -19px, $colorWord1);
  }
  img {
    @include border-radius(20px,0,20px, 0);
    background: white;
    display: block;
    width: 100%;
    height: 100%;
  }
}
.bubble3 {
  @include bubble($colorWord2,150pX, 200px);
  @include border-radius(0,30px ,0, 30px);
  top: 225px;
  left: -230px;
  span.the-arrow3 {
    @include arrow(130px, 200px, $colorWord2);
    transform: rotate(90deg);
  }
}

.bubble4 {
  @include bubble($colorWord3,240pX, 360px);
  @include border-radius(30px , 0 , 30px, 0);
  top: 280px;
  left: 300px;
  span.the-arrow4 {
    @include arrow(220px, -19px, $colorWord3);
  }
}
.bubble5 {
  @include bubble($colorWord4,200px, 330px);
  @include border-radius( 0,30px, 0,30px);
  top: 400px;
  left: -355px;
  span.the-arrow5 {
    @include arrow(180px, 330px,$colorWord4);
    transform: rotate(90deg);
  }
}
.bubble6{
    @include bubble ($colorWord5,180px,150px);
    @include border-radius(30px , 0 , 30px, 0);
    top:590px;
    left:360px;
    line-height:1.8;
    span.the-arrow6{
        @include arrow(160px, -19px, $colorWord5);
  }
}
.bubble7 {
  @include bubble($colorWord6, 150px,200px);
  @include border-radius(0,30px, 0,30px);
  top: 755px;
  left: -230px;
  span.the-arrow7 {
    @include arrow(130px,200px, $colorWord6);
    transform: rotate(90deg);
  }
}
img.iconCompetence{
    width: 25%;   
}
.bubble8 {
  @include bubble($colorWord7,140px,200px);
  @include border-radius(0 , 30px,0, 30px );
  top: 1200px;
  left: 730px;
  span.the-arrow8 {
    @include arrow(0, -19px, $colorWord7);
    transform: rotate(270deg);
  }
  
}
